body {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Ghana.svg) no-repeat center center/cover;
    text-align: center;
    margin-left: 100px;
    
}
.ppp {
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    line-height: 1.1;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-weight: bold;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: white;
    text-align: center;
    



}
.ttt {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
}
.ggg {
    color: red;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
} 

label {
    font-size:1.5em;
    color: red
}
footer {
    color:white;
    font-size:1em;
}
form {
    width:60%;
    /*border:2px solid white;*/
    text-align:center;
}
a {
    color:white;
}
.btn btn-outline-info btn-lg {
    color:white;
}
#output {
    font-size:1.8em;
    border:2px solid white;
    text-shadow: 2px 2px 4px #000000;

}
.container{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    float: right;

}
.text{
    text-align: center;
}
.rate{
    color: red;
    margin-left: 200px;
    margin-right: 200px;
}
